{% macro show_ci_num(num) %}
    {% if num == 0 %}
        no commits
    {% elif num == 1 %}
        1 commit
    {% else %}
        {{ num }} commits
    {% endif %}
{% endmacro %}

{% macro repo_class(repo) -%}
    {% if repo == 'main' -%}
        success
    {%- elif repo == 'crew' -%}
        info
    {%- elif repo == 'pbomb' -%}
        warning
    {%- else -%}
        default
    {%- endif -%}
{%- endmacro %}

{% macro show_repos_badge(cirepos) %}
    {% if 'main' in cirepos %}
        {% set bclass = repo_class('main') %}
    {% elif 'crew' in cirepos %}
        {% set bclass = repo_class('crew') %}
    {% elif 'pbomb' in cirepos %}
        {% set bclass = repo_class('pbomb') %}
    {% else %}
        {% set bclass = 'default' %}
    {% endif %}
    <span class="badge badge-{{ bclass }}">&nbsp;</span>
{% endmacro %}

{% macro show_ci_names(repo) %}
    {% if debug %}
        <ul>
            {% for ci in all_commits[repo] %}
                <li>{{ ci.desc | firstline }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

<!DOCTYPE html>
<html>
<head>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <style>
        body {
            padding: 20px;
        }
    </style>
    <title>My Mercurial commits</title>
</head>
<body>

<h2>Mercurial commits authored by me (Alexander Plavin)</h2>
<hr/>

<h3>Legend</h3>
<span class="badge badge-success">&nbsp;</span> accepted to the main Mercurial repo &mdash; {{ show_ci_num(commit_cnts['main']) }}<br/>
{{ show_ci_names('main') }}
<span class="badge badge-info">&nbsp;</span> accepted to the crew repo (but not to the main one) &mdash; {{ show_ci_num(commit_cnts['crew']) }}<br/>
{{ show_ci_names('crew') }}
<span class="badge badge-warning">&nbsp;</span> patchbombed ('New' state) &mdash; {{ show_ci_num(commit_cnts['pbomb']) }}<br/>
{{ show_ci_names('pbomb') }}
<span class="badge badge-default">&nbsp;</span> other &mdash; {{ show_ci_num(commit_cnts['not_accepted']) }}<br/>
{{ show_ci_names('mine') }}
Total: {{ show_ci_num(commit_cnts['mine']) }}

<div class="progress">
    {% for repo in ['main', 'crew', 'pbomb'] %}
        {% set percent = 100 * commit_cnts[repo] / commit_cnts['mine'] %}
        <div class="bar bar-{{ repo_class(repo) }}" style="width: {{ percent }}%;"></div>
    {% endfor %}
</div>

<hr/>

<ul>
    {% for commit, cirepos in commits %}
        <li>
            {{ show_repos_badge(cirepos) }}
            <a href="{{ repos['mine'].url }}/rev/{{ commit.hash }}">{{ commit.desc | firstline }}</a>
            ({{ commit.dt | timedelta }})
        </li>
    {% endfor %}
</ul>
<hr/>

Looking for source code? <a href="http://hg.aplavin.ru/cistats/">hg.aplavin.ru/cistats</a>.

</body>
</html>