{% macro show_ci_num(num) %}
    {% if num == 0 %}
        no commits
    {% elif num == 1 %}
        1 commit
    {% else %}
        {{ num }} commits
    {% endif %}
{% endmacro %}

{% macro label_class(repo) %}
    {% if repo == 'main' %}
        label-success
    {% elif repo == 'crew' %}
        label-info
    {% elif repo == 'pbomb' %}
        label-warning
    {% endif %}
{% endmacro %}

{% macro show_cirepos(cirepos) %}
    {% for repo, hash in cirepos if repo != 'mine' %}
        <a class="label {{ label_class(repo) }}" href="{{ repos[repo].url if repo in repos else '' }}/rev/{{ hash }}">{{ repo }}</a>
    {% else %}
        <span class="label label-default">none</span>
    {% endfor %}
{% endmacro %}

{% macro show_ci_names(repo) %}
    {% if debug %}
        <ul>
            {% for ci in all_commits[repo] %}
                <li>{{ ci.desc.splitlines()[0] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

<!DOCTYPE html>
<html>
<head>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <style>
        body {
            padding: 20px;
        }
    </style>
    <title>My Mercurial commits</title>
</head>
<body>

<h2>Mercurial commits authored by me (Alexander Plavin)</h2>
<hr/>

<h3>Legend</h3>
<span class="label label-success">main</span> accepted to the main Mercurial repo &mdash; {{ show_ci_num(commit_cnts['main']) }}<br/>
{{ show_ci_names('main') }}
<span class="label label-info">crew</span> accepted to the crew repo &mdash; {{ show_ci_num(commit_cnts['crew']) }}<br/>
{{ show_ci_names('crew') }}
<span class="label label-warning">pbomb</span> patchbombed ('New' state) &mdash; {{ show_ci_num(commit_cnts['pbomb']) }}<br/>
{{ show_ci_names('pbomb') }}
<span class="label label-default">none</span> other &mdash; {{ show_ci_num(commit_cnts['not_accepted']) }}<br/>
{{ show_ci_names('mine') }}
Total: {{ show_ci_num(commit_cnts['mine']) }}
<hr/>

<ul>
    {% for commit, cirepos in commits %}
        <li>
            {{ show_cirepos(cirepos) }}
            <a href="{{ repos['mine'].url }}/rev/{{ commit.hash }}">{{ commit.desc.splitlines()[0] }}</a>
            ({{ commit.dt | timedelta }})
        </li>
    {% endfor %}
</ul>
<hr/>

Looking for source code? <a href="http://hg.aplavin.ru/cistats/">hg.aplavin.ru/cistats</a>.

</body>
</html>